@page
@model KoiFarmShop.WebApplication.Pages.F.A.Q.IndexModel
@{
}
<!-- F.A.Q Group 1 -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Những câu hỏi thường gặp khi nuôi cá Koi</h5>

        <div class="accordion accordion-flush" id="faq-group-1">

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                        Cá Koi có những loại nào?
                    </button>
                </h2>
                <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Cá Koi có nhiều loại khác nhau, được phân loại theo giống và màu sắc. Các loại phổ biến bao gồm Koi Kohaku (màu đỏ và trắng), Koi Sanke (màu đỏ, trắng và đen), Koi Showa (màu đen, đỏ và trắng), Koi Ogon (màu vàng kim), và nhiều loại khác. Mỗi loại có đặc điểm riêng biệt và giá trị khác nhau.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                        Làm sao để chọn được một con cá Koi khỏe mạnh?
                    </button>
                </h2>
                <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Khi chọn cá Koi, bạn nên chú ý đến các dấu hiệu sức khỏe như vây và đuôi không bị tổn thương, cơ thể không có vết thương hoặc nhiễm trùng, và cá nên bơi lội linh hoạt. Ngoài ra, cá Koi khỏe mạnh sẽ có màu sắc sáng và đều đặn. Tránh chọn những con có dấu hiệu lờ đờ hoặc bơi không ổn định.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                        Làm thế nào để chăm sóc cá Koi đúng cách?
                    </button>
                </h2>
                <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Cá Koi cần môi trường nước sạch và ổn định, nên thay nước định kỳ và kiểm tra các chỉ số như pH, nhiệt độ, và mức độ oxy trong ao. Đảm bảo rằng cá được cho ăn đúng cách, không cho quá nhiều thức ăn trong một lần để tránh làm ô nhiễm nước. Cũng nên giữ vệ sinh ao và kiểm tra cá thường xuyên để phát hiện bệnh.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                        Cá Koi ăn gì và bao nhiêu lần mỗi ngày?
                    </button>
                </h2>
                <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Cá Koi chủ yếu ăn thức ăn dạng viên, bao gồm các thành phần như cá, tảo, và các chất dinh dưỡng bổ sung. Mỗi ngày, bạn có thể cho cá ăn 2-3 lần, mỗi lần chỉ cho ăn một lượng thức ăn vừa phải, đủ để cá ăn hết trong khoảng 5-10 phút. Vào mùa lạnh, bạn nên giảm lượng thức ăn vì cá sẽ ít ăn hơn.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                        Làm thế nào để so sánh giá trị của các con cá Koi?
                    </button>
                </h2>
                <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Giá trị của cá Koi phụ thuộc vào nhiều yếu tố như giống loài, màu sắc, hình dáng cơ thể, tuổi tác, và đặc điểm riêng biệt của từng con cá. Các cá Koi có màu sắc đặc biệt, hình dáng cân đối và chứng nhận từ các cuộc thi thường có giá cao hơn. Bạn cũng có thể tham khảo giá thị trường và những người nuôi Koi có kinh nghiệm để đánh giá chính xác.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-6" type="button" data-bs-toggle="collapse">
                        Có thể mua cá Koi trực tuyến không?
                    </button>
                </h2>
                <div id="faqsOne-6" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Có, bạn có thể mua cá Koi trực tuyến thông qua các trang web chuyên bán cá Koi. Chúng tôi cung cấp dịch vụ vận chuyển an toàn, đảm bảo cá được vận chuyển trong điều kiện tốt nhất. Bạn cũng có thể tham khảo thông tin chi tiết về các con cá trên trang web trước khi quyết định mua.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-7" type="button" data-bs-toggle="collapse">
                        Làm sao để cá Koi của tôi không bị bệnh?
                    </button>
                </h2>
                <div id="faqsOne-7" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Để cá Koi không bị bệnh, bạn cần duy trì môi trường nước sạch, kiểm tra hệ thống lọc nước và các chỉ số nước thường xuyên. Bạn cũng nên cho cá ăn thức ăn chất lượng cao và tránh cho cá ăn quá nhiều. Ngoài ra, cần theo dõi cá thường xuyên để phát hiện sớm các dấu hiệu bệnh và điều trị kịp thời nếu cần.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-8" type="button" data-bs-toggle="collapse">
                        Tôi có thể tìm kiếm cá Koi theo tiêu chí nào?
                    </button>
                </h2>
                <div id="faqsOne-8" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Khách hàng có thể tìm kiếm cá Koi theo các tiêu chí sau:
                        Giống cá: Thuần chủng nhập khẩu, lai F1, thuần Việt.
                        Đặc điểm: Kích thước, tuổi, giới tính, tính cách, tỷ lệ sàng lọc, lượng thức ăn/ngày.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-9" type="button" data-bs-toggle="collapse">
                        Khi mua cá Koi, tôi có nhận được giấy tờ chứng nhận không?
                    </button>
                </h2>
                <div id="faqsOne-9" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Có, đối với mỗi cá Koi mua tại trang trại, bạn sẽ nhận được các giấy chứng nhận sau (nếu có):
                        Giấy chứng nhận nguồn gốc xuất xứ.
                        Giấy chứng nhận tình trạng sức khỏe.
                        Giấy chứng nhận giải thưởng (nếu cá Koi từng đạt giải).
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-10" type="button" data-bs-toggle="collapse">
                        Trang trại có hỗ trợ ký gửi cá Koi không?
                    </button>
                </h2>
                <div id="faqsOne-10" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                        Có, chúng tôi cung cấp dịch vụ ký gửi cá Koi với hai hình thức:
                        Ký gửi offline: Dành cho khách hàng muốn nuôi cá tại trang trại để chăm sóc.
                        Ký gửi online: Dành cho khách hàng muốn kinh doanh cá Koi.
                        Quá trình ký gửi bao gồm kiểm tra cá, thỏa thuận giá trị ký gửi, và vận chuyển cá đến trang trại (nếu cần).
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!-- End F.A.Q Group 1 -->
        </div>