@page
@model KoiFarmShop.WebApplication.Pages.Contact.IndexModel
@{
    ViewData["Title"] = "Contact";
}
<main id="main" class="main">
    <section class="section contact">
        <div class="container">
            <div class="row gy-4 justify-content-center">

                <!-- Left Section: Contact Information -->
                <div class="col-xl-6 col-lg-12">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="info-box card p-4 text-center">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Địa chỉ</h3>
                                <p>81 Xuân Thới 22<br>Xuân Thới Đông, Hóc Môn, TP.HCM</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="info-box card p-4 text-center">
                                <i class="bi bi-telephone"></i>
                                <h3>Phone</h3>
                                <p>0905681918<br>0344883755</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="info-box card p-4 text-center">
                                <i class="bi bi-envelope"></i>
                                <h3>Email</h3>
                                <p>Khanhng5776@ut.edu.vn<br>dihny5348@ut.edu.vn</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="info-box card p-4 text-center">
                                <i class="bi bi-clock"></i>
                                <h3>Giờ hoạt động</h3>
                                <p>Thứ 2 - Thứ 6<br>9:00AM - 05:00PM</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card p-4">
                        <form action="forms/contact.php" method="post" class="php-email-form">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Tên bạn" required>
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Chủ đề" required>
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Nội dung" required></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Tin nhắn của bạn đã được gửi. Cảm ơn bạn!</div>

                                    <button type="submit">Gửi tin nhắn</button>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

                        <!-- Social Media Links -->
                        <div class="text-center">
                            <h3>Kết nối với chúng tôi</h3>
                            <a href="https://www.facebook.com/huynhngoyendi?mibextid=LQQJ4d" target="_blank" class="btn btn-primary m-1">
                                <i class="bi bi-facebook"></i> Facebook
                            </a>
                            <a href="https://www.instagram.com/huynhngoyendi?igsh=MTgxbGE0YngyeXE5ZA==/" target="_blank" class="btn btn-danger m-1">
                                <i class="bi bi-instagram"></i> Instagram
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    

